

/*Admin login css */

.logo{
    width: 50%;
    max-width: 400px;
    height: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.login-box {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: auto;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-box h3 {
    margin-bottom: 20px;
}
.login-box .form-control {
    margin-bottom: 15px;
}
.login-box .btn-primary {
    width: 100%;
}

:root{

    --color1: #925FE2;
    --color2: #AE89E9;
}

/* Dashboard */

.view{
    display: flex;
}
.sidebar{
    width: 15%;
    background:var(--color2);
    
}
.sider-header{
    height: 50px;

}
.nav-link{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    color: #ffff;
}

.nav-link i{
    font-size: 1.5rem;
    padding-right: 10px;
}
.dropdown-menu{
    font-size: 1.1rem;
}

.view-area{
    width: 85%;
    
}
.navbar{
    height: 50px;
}
.prfile{
    height:50px;

}
.prfile .prf-img{
height: 100%;
}
.prf-img img{
height: 100%;
border-radius: 50%;
}

@media screen and (max-width: 1280px) {
    .sidebar{
        /* width: 22%; */
    }


    
}


@media (max-width: 768px) {
    .sidebar{
        width: 15%;
    }
    .view-area{
        width: 85%;
    }
    .nav-link{
        justify-content: center;
    }
    .dropdown-menu{
        width: 80px;
    }

    .navbar .head-name h4{
        font-size: 15px;  
    }
    .prfile{
        height: 30px;
    }
    .prf-img h6{
        font-size: 12px;
    }
    
}
